@page "/"
@using Blazor.Todo.Pages.Components

<PageTitle>To Do</PageTitle>

<div class="row mt-5">
    <div class="col-12 col-md-6 offset-md-3">
        <!-- formulario para agregar una tarea -->
        <AssignmentForm HandleAddAssignment="AddAssignment" />
        <hr />
        <!-- listado de tareas con su botón para borrar la seleccionada o darle finalizar -->
        <Assignments AssignmentsList="assignments" HandleUpdateAssignment="UpdateAssignment" HandleDeleteAssignment="DeleteAssignment" />
    </div>
</div>